body {
    min-width: 300px;
}
.flex-layout {
    display: flex;
    flex-flow: row wrap;
}
.flex-item {
    flex-grow: 1;
}
.center-content {
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainform {
    text-align: center;
    width: inherit;
}
.main-search-input{
    text-indent: 40px;
    font-size: medium;
    border-radius: 25px;
    border: 1px solid lightgrey;
    height:50px;
}
.buttons-container {
    width: inherit;
}
.main-search-input:hover, .main-search-input:focus {
    border:solid lightgrey;
    border-width: 1px;
    box-shadow: 1px 1px 3px 3px lightgrey;
    outline: none;
}
.main-page-button {
    margin-top: 30px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 545;
    color: grey;
    background-color: whitesmoke;
    border-style: initial ;
    border-radius: 7px;
}
.main-page-button:hover{
    color: rgb(29, 29, 29);
    border: solid lightgrey;
    border-width: 1px;
    cursor:pointer;
}
.main-page-button:focus {
    outline: none;
    border: 1px solid rgb(173, 180, 230);
}
.center {
    display: block;
    margin: 0% auto;
}
@media only screen and (max-width: 800px) {
    .main-search-input{
        width:90vw;
    }
    .main-image {
        height: 30%;
        width: 40%;    
    }
}
@media only screen and (min-width: 800px) {
    .main-search-input{
        width:50vw;
    }
    .main-image {
        height: 10%;
        width: 25%;   
    }
}
.links-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5%;
    height:min-content;
    background-color: rgb(241, 241, 241);
}
.image-link-container {
    width:140px;
    height:min-content;
}
.nav_image {
    width:140px;
    height: 55px;
}
.main-image {
    margin-top: 115px;
}


.button2 {
    background-color: rgb(12, 114, 209);
    color: white;
    border: 1px solid rgb(12, 114, 209);
    padding: 7px;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: 800;
    opacity: 0.95;
    align-self: right;
}

.button2:hover {
    opacity: 1;
}


.a1 {
    font-display: fallback;
    background-color: lightblue;
}


.a2 {
    margin-right: 10px;
    text-align: left;
    size: 5px;
    border-radius: 10px;
    right: 0;
}

#adv_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    color: rgba(238, 27, 27, 0.864);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: 350;
    padding-bottom: 30px;
    padding-left: 30px;
    border-bottom: solid 1px lightgrey;
    font-size: 25px;
}

h2 {
    color: black;
    font-weight: 100;
    text-align: left;
    margin-left:30px;
    margin-top: 50px;
}

.advanced_form {
    color: rgb(31, 30, 30);
    position:left;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 500px;
}

.adv_inputs {
    padding:5px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 600px;
    height: 25px;
    border: 1px solid lightgrey;
}

.adv_inputs:focus {
    outline: none;
    border: 1px solid rgb(0, 89, 255);
}

.explanation {
    color: rgb(68, 62, 62);
    font-size: 15px;
    margin-left: 20px;
    text-align: left;
}

